{% trans_default_domain 'sfs_user' %}
{% extends '@SfsUser/admin_layout.html.twig' %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item">Users</li>
    <li class="breadcrumb-item"><a href="{{ url('sfs_user_admin_administrators_list') }}">Administrators</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ sfs_user_is('nameSurname') ? administrator.name~' '~administrator.surname : administrator.username }}</li>
{% endblock breadcrums_content %}

{% block content %}
    {% if sfs_user_is('nameSurname') %}
        <h1 class="h3 mb-4">{{ administrator.name }} {{ administrator.surname }}</h1>
    {% else %}
        <h1 class="h3 mb-4">{{ administrator.username }}</h1>
    {% endif %}

    <div class="text-right">
{#        {% if switch_enabled and is_granted(switch_role) %}#}
{#            <a href="{{ url(switch_route, switch_route_params) }}{{ switch_route_params|length ? '&' : '?' }}{{ switch_parameter }}={{ administrator.username }}"#}
{#               class="btn btn-outline-secondary">view as {{ administrator.username }}</a>#}
{#        {% endif %}#}

        <div class="btn-group d-inline">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                {% if is_granted('ROLE_ADMIN_ADMINISTRATORS_DEMOTE', administrator) %}
                    <a href="{{ url('sfs_user_admin_administrators_demote_admin', {'administrator':administrator}) }}" class="dropdown-item">Demote Admin</a>
                {% else %}
                    <a href="#" class="dropdown-item disabled">Demote Admin</a>
                {% endif %}

                <a href="#" class="dropdown-item disabled">Reset password</a>
                {#        <a href="#" class="dropdown-item disabled">Manual password</a>#}

                {% if is_granted('ROLE_ADMIN_ADMINISTRATORS_DELETE', administrator) %}
                    <a href="{{ url('sfs_user_admin_administrators_delete', {'administrator':administrator}) }}" class="dropdown-item">Delete</a>
                {% else %}
                    <a href="#" class="dropdown-item disabled">Delete</a>
                {% endif %}

{#                {% if sfs_user_is('confirmable') %}#}
{#                    {% if administrator.confirmed %}#}
{#                        <a href="#" class="dropdown-item disabled">Unconfirm</a>#}
{#                    {% else %}#}
{#                        <a href="#" class="dropdown-item disabled">Confirm</a>#}
{#                        <a href="{{ url('sfs_user_admin_administrators_resend', {'administrator':administrator}) }}" class="dropdown-item">Resend confirmation</a>#}
{#                    {% endif %}#}
{#                {% endif %}#}
            </div>
        </div>

        {% if is_granted('ROLE_ADMIN_ADMINISTRATORS_UPDATE', administrator) %}
            <a href="{{ url('sfs_user_admin_administrators_update', {'administrator': administrator}) }}" class="btn btn-primary ml-4">Edit</a>
        {% else %}
            <a href="#" class="btn btn-primary disabled ml-4">Edit</a>
        {% endif %}
    </div>

    {% if sfs_user_is('nameSurname') %}
    <p><strong>name:</strong> {{ administrator.name }}</p>
    <p><strong>surname:</strong> {{ administrator.surname }}</p>
    {% endif %}

    <p><strong>username:</strong> {{ administrator.username }}</p>
    <p><strong>email:</strong> {{ administrator.email }}</p>
    <p><strong>lastLogin:</strong> {{ administrator.lastLogin ? administrator.lastLogin|date('H:i d-m-Y') : 'not yet' }}</p>
    <p><strong>role:</strong> {{ administrator.roles|join(', ') }}</p>

    <div class="row">
        {% if multi_accounted_user %}
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Accounts</h4>
                    </div>
                    <div class="card-body">
                        {% if administrator.relations.count %}
                            <ul>
                                {% for relation in administrator.relations %}
                                    <li>
                                        {% if route_defined('sfs_account_admin_accounts_details') %}
                                            <a href="{{ url('sfs_account_admin_accounts_details', {'account':relation.account}) }}">{{ relation.account.name }}</a>
                                        {% else %}
                                            {{ relation.account.name }}
                                        {% endif %}

                                        {% if relation.grantedBy is defined and relation.grantedBy != relation.user %}
                                            (granted by {{ relation.grantedBy.username }})
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p><em>This user is not associated to any account</em></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_ADMIN_ACCESS_HISTORY_LIST') and user_access_history is defined %}
            <div class="col">
                {% include '@SfsUser/admin/components/_user_access_history_card.html.twig' %}
            </div>
        {% endif %}

        {% if false %}
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Emails sent</h4>
                    </div>
                    <div class="card-body">
                        <p><i>TODO</i></p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}