{% trans_default_domain 'sfs_user' %}
{% extends '@SfsUser/preferences_layout.html.twig' %}

{% block content %}
    <div class="bg-white p-5 w-50">
        <h1 class="h4 mb-3 fw-normal">{{ 'preferences.title'|trans }}</h1>

        <div class="text-center">
            {% if sfs_user_is('avatar') %}
                <img alt="{{ app.user.displayName }}" src="{{ app.user.avatarUrl }}" width="128" height="128" class="rounded-circle mb-3">
            {% endif %}
        </div>

        {{ form_start(preferences_form) }}
        {{ form_rest(preferences_form) }}
        <button type="submit" class="btn btn-primary btn-block">{{ 'preferences.actions.submit.button'|trans }}</button>
        {{ form_end(preferences_form) }}
    </div>
{% endblock content %}