{% trans_default_domain 'sfs_user' %}
{% for access in entities %}
    <tr>
        <td>{{ access.loginAt|date_span('H:i:s d-m-Y') }}</td>
        <td>{{ access.user.username }}</td>
        <td>{{ access.ip }}</td>
        {% if sfs_user_access_is('location') %}
            <td>{{ access.city }} ({{ access.country }})</td>
        {% endif %}
        <td>{{ access.userAgent }}</td>
    </tr>
{% endfor %}