{% trans_default_domain 'sfs_user' %}
{% extends '@SfsUser/admin_layout.html.twig' %}

{% block content %}
    {% if sfs_user_is_name_surname() %}
        <h1 class="h3 mb-4">{{ administrator.name }} {{ administrator.surname }}</h1>
    {% else %}
        <h1 class="h3 mb-4">{{ administrator.username }}</h1>
    {% endif %}

    <div class="text-right">
        {% if is_granted('ROLE_ADMIN_ADMINISTRATORS_DEMOTE', administrator) %}
            <a href="{{ url('sfs_user_admin_administrators_demote_admin', {'administrator':administrator}) }}" class="btn btn-outline-secondary">Demote Admin</a>
        {% endif %}

{#        <a href="#" class="btn btn-outline-secondary disabled">Edit</a>#}
{#        <a href="#" class="btn btn-outline-secondary disabled">Reset password</a>#}
{#        <a href="#" class="btn btn-outline-secondary disabled">Manual password</a>#}
{#        <a href="#" class="btn btn-outline-secondary disabled">Delete</a>#}
    </div>

    {% if sfs_user_is_name_surname() %}
    <p><strong>name:</strong> {{ administrator.name }}</p>
    <p><strong>surname:</strong> {{ administrator.surname }}</p>
    {% endif %}

    <p><strong>username:</strong> {{ administrator.username }}</p>
    <p><strong>email:</strong> {{ administrator.email }}</p>
    <p><strong>lastLogin:</strong> {{ administrator.lastLogin ? administrator.lastLogin|date('H:i d-m-Y') : 'not yet' }}</p>
    <p><strong>role:</strong> {{ administrator.roles|join(', ') }}</p>

    <div class="row">
        {% if multi_accounted_user %}
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Accounts</h4>
                    </div>
                    <div class="card-body">
                        {% if user.relations.count %}
                            <ul>
                                {% for relation in user.relations %}
                                    <li>
                                        {{ relation.account.name }}
                                        {% if relation.grantedBy != relation.user %}
                                            (granted by {{ relation.grantedBy.username }})
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p><em>This user is not associated to any account</em></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_ADMIN_ACCESS_HISTORY_LIST') and user_access_history is defined %}
            <div class="col">
                {% include '@SfsUser/admin/components/_user_access_history_card.html.twig' %}
            </div>
        {% endif %}

        {% if false %}
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Emails sent</h4>
                    </div>
                    <div class="card-body">
                        <p><i>TODO</i></p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}