{% trans_default_domain 'sfs_user' %}
{% extends '@SfsUser/admin_layout.html.twig' %}

{% block content %}
    <h1 class="h3 mb-4">{{ administrator.name }} {{ administrator.surname }}</h1>

    <div class="text-right">
        {% if is_granted('ROLE_ADMIN_ADMINISTRATORS_DEMOTE', administrator) %}
            <a href="{{ url('sfs_user_admin_administrators_demote_admin', {'administrator':administrator}) }}" class="btn btn-outline-secondary">Demote Admin</a>
        {% endif %}

{#        <a href="#" class="btn btn-outline-secondary disabled">Edit</a>#}
{#        <a href="#" class="btn btn-outline-secondary disabled">Reset password</a>#}
{#        <a href="#" class="btn btn-outline-secondary disabled">Manual password</a>#}
{#        <a href="#" class="btn btn-outline-secondary disabled">Delete</a>#}
    </div>

    <p><strong>name:</strong> {{ administrator.name }}</p>
    <p><strong>surname:</strong> {{ administrator.surname }}</p>
    <p><strong>username:</strong> {{ administrator.username }}</p>
    <p><strong>email:</strong> {{ administrator.email }}</p>
    <p><strong>lastLogin:</strong> {{ administrator.lastLogin ? administrator.lastLogin|date('H:i d-m-Y') : 'not yet' }}</p>
    <p><strong>role:</strong> {{ administrator.roles|join(', ') }}</p>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4>Accounts</h4>
                </div>
                <div class="card-body">
                    <p><i>TODO</i></p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4>Latest access</h4>
                </div>
                <div class="card-body">
                    <p><i>TODO</i></p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4>Emails sent</h4>
                </div>
                <div class="card-body">
                    <p><i>TODO</i></p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}