{% trans_default_domain 'sfs_user' %}
{% extends '@SfsUser/admin_layout.html.twig' %}

{% form_theme filterForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item">Users</li>
    <li class="breadcrumb-item active" aria-current="page">Administrators</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">Administrators</h1>
    </div>

    {{ form_start(filterForm) }}
    <div class="row">
        {% if filterForm.name is defined %}<div class="col">{{ form_row(filterForm.name) }}</div>{% endif %}
        {% if filterForm.surname is defined %}<div class="col">{{ form_row(filterForm.surname) }}</div>{% endif %}
        {% if filterForm.email is defined %}<div class="col">{{ form_row(filterForm.email) }}</div>{% endif %}
        <div class="col">{{ form_row(filterForm.search) }}</div>
    </div>
    {{ form_widget(filterForm) }}
    {{ form_rest(filterForm) }}
    {{ form_end(filterForm) }}

    <table class="table">
        <thead>
        <tr>
            {% if sfs_user_is('nameSurname') %}
                <th scope="col">{{ 'admin_administrators.list.fields.name.header'|trans }}</th>
                <th scope="col">{{ 'admin_administrators.list.fields.surname.header'|trans }}</th>
            {% endif %}
            <th scope="col">{{ 'admin_administrators.list.fields.username.header'|trans }}</th>
            {% if sfs_user_is('email') %}
                <th scope="col">{{ 'admin_administrators.list.fields.email.header'|trans }}</th>
            {% endif %}
            <th scope="col">{{ 'admin_administrators.list.fields.lastLogin.header'|trans }}</th>
            <th scope="col">{{ 'admin_administrators.list.fields.role.header'|trans }}</th>
            <th>&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        {% include '@SfsUser/admin/administrators/list-page.html.twig' %}
        </tbody>

        {% if entities.pages|default(false) %}
            <tfoot>
            <tr>
                <td colspan="20">
                    {% if entities.prevPage %}
                        <a href="{{ url('sfs_user_admin_administrators_list', app.request.query.all|merge({ page: entities.prevPage })) }}" title="Prev page"><span class="mdi mdi-24px mdi-chevron-left"></span></a>
                    {% endif %}

                    {% if entities.nextPage %}
                        <a class="float-right" href="{{ url('sfs_user_admin_administrators_list', app.request.query.all|merge({ page: entities.nextPage })) }}" title="Next page"><span class="mdi mdi-24px mdi-chevron-right"></span></a>
                    {% endif %}
                </td>
            </tr>
            </tfoot>
        {% endif %}
    </table>
{% endblock content %}