{% trans_default_domain 'sfs_user' %}
{% extends '@SfsUser/admin_layout.html.twig' %}

{% block title %}{{ 'admin_users.delete.page_title'|trans({'%displayName%': user.displayName}) }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_user_admin_users_list') }}">{{ 'admin_users.list.breadcrumb'|trans }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url('sfs_user_admin_users_details', {'user':user}) }}">{{ 'admin_users.details.breadcrumb'|trans({'%displayName%': user.displayName}) }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'admin_users.delete.breadcrumb'|trans({'%displayName%': user.displayName}) }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="h3 mb-4">{{ 'admin_users.delete.title'|trans({'%displayName%': user.displayName}) }}</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col bg-white p-5">
                <p>{{ 'admin_users.delete.confirm_message'|trans }}</p>
                {{ form_start(form) }}
                {{ form_rest(form) }}
                <a href="{{ url('sfs_user_admin_users_details', {'user':user}) }}" class="btn btn-outline-secondary">{{ 'admin_users.delete.actions.cancel'|trans }}</a>
                <input type="submit" value="{{ 'admin_users.delete.actions.delete.button'|trans }}" class="btn btn-danger" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock content %}