{% trans_default_domain 'sfs_user' %}
{% for administrator in administrators %}
    <tr>
        {% if sfs_user_is('avatar') %}
            <td class="ps-3 pe-3 align-middle"><img alt="{{ administrator.username }}" src="{{ administrator.avatarUrl }}" width="28" height="28" class="rounded-circle"></td>
        {% endif %}
        {% if sfs_user_is('nameSurname') %}
            <td>{{ administrator.name }}</td>
            <td>{{ administrator.surname }}</td>
        {% endif %}
        {% if sfs_user_is('identifierUsername') %}
            <td>{{ administrator.administratorname }}</td>
        {% endif %}
        {% if sfs_user_is('identifierEmail') or sfs_user_is('email') %}
            <td>{{ administrator.email }}</td>
        {% endif %}
        <td class="text-center">
            {% if sfs_user_is('rolesAdmin') %}
                {% if administrator.superAdmin %}
                    <span class="badge bg-danger">super-admin</span>
                {% else %}
                    <span class="badge bg-info text-dark">admin</span>
                {% endif %}
            {% endif %}
        </td>
        {% if sfs_user_is('confirmable') %}
            <td class="text-center align-middle">
                {% if administrator.confirmed %}
                    <span class="bi bi-check  align-middle text-success"></span>
                {% else %}
                    <span class="bi bi-x align-middle text-danger"></span>
                {% endif %}
            </td>
        {% endif %}
        {% if sfs_user_is('lastLogin') %}
            <td>
                {{ administrator.lastLogin ? administrator.lastLogin|date_span('H:i:s d-m-Y') : 'not yet' }}
            </td>
        {% endif %}

        <td class="text-end">
            {% if is_granted('PERMISSION_SFS_USER_ADMIN_ADMINISTRATORS_DETAILS', administrator) %}
                <a href="{{ url('sfs_user_admin_administrators_details', {'administrator': administrator}) }}" class="text-nowrap">{{ 'admin_administrators.list.actions.details.link'|trans }} <span class="mdi mdi-18px mdi-eye-outline align-middle"></span></a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
