{% trans_default_domain 'sfs_user' %}
{% extends '@SfsUser/admin_layout.html.twig' %}

{% form_theme filterForm '@SfsAdmin/admin_form_horizontal_layout.html.twig' %}

{% block title %}{{ 'admin_administrators.list.meta.title'|trans }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="page">{{ 'admin_administrators.list.breadcrumb'|trans }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">{{ 'admin_administrators.list.title'|trans }}</h1>
    </div>

    {#{% include '@SfsUser/admin/administrators/list-widgets.html.twig' %}#}

    <div class="container-fluid bg-white p-4">
        {% if entities|length %}
            <div class="mb-4">
                {{ form_start(filterForm) }}
                <div class="d-flex align-items-center">
                    {% if filterForm.name is defined %}{{ form_row(filterForm.name, {'row_class':'form-floating mb-3'}) }}{% endif %}
                    {% if filterForm.surname is defined %}{{ form_row(filterForm.surname, {'row_class':'form-floating mb-3'}) }}{% endif %}
                    {% if filterForm.email is defined %}{{ form_row(filterForm.email, {'row_class':'form-floating mb-3'}) }}{% endif %}
                    {% if filterForm.search is defined %}{{ form_row(filterForm.search, {'row_class': 'form-floating mb-3'}) }}{% endif %}
                </div>
                {{ form_widget(filterForm) }}
                {{ form_rest(filterForm) }}
                {{ form_end(filterForm) }}
            </div>
        {% endif %}

        {% embed '@SfsAdmin/components/table.html.twig' with {'collection':entities, 'pagination_route': 'sfs_user_admin_administrators_list'} %}
            {% trans_default_domain 'sfs_user' %}
            {% block ths %}
                {% if sfs_user_is('avatar') %}
                    <th scope="col" style="width:28px">&nbsp;</th>
                {% endif %}
                {% if sfs_user_is('nameSurname') %}
                    <th scope="col">
                        <a href="{{ sort_toggle_url('name') }}" class="text-dark">
                            {{ 'admin_administrators.list.fields.name.header'|trans }}
                            {% if is_sorted_by('name', 'asc') %}<i class="bi bi-caret-up-fill"></i>{% elseif is_sorted_by('name', 'desc') %}<i class="bi bi-caret-down-fill"></i>{% endif %}
                        </a>
                    </th>
                    <th scope="col">
                        <a href="{{ sort_toggle_url('surname') }}" class="text-dark">
                            {{ 'admin_administrators.list.fields.surname.header'|trans }}
                            {% if is_sorted_by('surname', 'asc') %}<i class="bi bi-caret-up-fill"></i>{% elseif is_sorted_by('surname', 'desc') %}<i class="bi bi-caret-down-fill"></i>{% endif %}
                        </a>
                    </th>
                {% endif %}
                {% if sfs_user_is('identifierUsername') %}
                    <th scope="col">{{ 'admin_administrators.list.fields.username.header'|trans }}</th>
                {% endif %}
                {% if sfs_user_is('identifierEmail') or sfs_user_is('email') %}
                    <th scope="col">
                        <a href="{{ sort_toggle_url('email') }}" class="text-dark">
                            {{ 'admin_administrators.list.fields.email.header'|trans }}
                            {% if is_sorted_by('email', 'asc') %}<i class="bi bi-caret-up-fill"></i>{% elseif is_sorted_by('email', 'desc') %}<i class="bi bi-caret-down-fill"></i>{% endif %}
                        </a>
                    </th>
                {% endif %}
                <th scope="col" class="text-center">{{ 'admin_administrators.list.fields.role.header'|trans }}</th>
                {% if sfs_user_is('confirmable') %}
                    <th scope="col" class="text-center">{{ 'admin_administrators.list.fields.confirmed.header'|trans }}</th>
                {% endif %}
                {% if sfs_user_is('lastLogin') %}
                    <th scope="col">
                        <a href="{{ sort_toggle_url('lastLogin') }}" class="text-dark">
                            {{ 'admin_administrators.list.fields.lastLogin.header'|trans }}
                            {% if is_sorted_by('lastLogin', 'asc') %}<i class="bi bi-caret-up-fill"></i>{% elseif is_sorted_by('lastLogin', 'desc') %}<i class="bi bi-caret-down-fill"></i>{% endif %}
                        </a>
                    </th>
                {% endif %}
                <th>&nbsp;</th>
            {% endblock ths %}

            {% block tbody %}
                {% include '@SfsUser/admin/administrators/list-page.html.twig' %}
            {% endblock tbody %}

        {% endembed %}
    </div>
{% endblock content %}
