{% trans_default_domain 'sfs_user' %}
{% extends '@SfsUser/admin_layout.html.twig' %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_user_admin_users_list') }}">Users</a></li>
    <li class="breadcrumb-item"><a href="{{ url('sfs_user_admin_users_details', {'user':user}) }}">{{ sfs_user_is_name_surname() ? user.name~' '~user.surname : user.username }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Delete</li>
{% endblock breadcrums_content %}

{% block content %}
    {% if sfs_user_is_name_surname() %}
        <h1 class="h3 mb-4">{{ user.name }} {{ user.surname }}</h1>
    {% else %}
        <h1 class="h3 mb-4">{{ user.username }}</h1>
    {% endif %}

    <p>{{ 'admin_users.delete.confirm_message'|trans }}</p>

    {{ form_start(form) }}
    {{ form_rest(form) }}
    <a href="{{ url('sfs_user_admin_users_details', {'user':user}) }}" class="btn btn-outline-secondary">{{ 'admin_users.delete.actions.cancel'|trans }}</a>
    <input type="submit" value="{{ 'admin_users.delete.actions.delete.button'|trans }}" class="btn btn-primary" />
    {{ form_end(form) }}


{% endblock content %}