{% trans_default_domain 'sfs_user' %}
{% extends '@SfsUser/admin_layout.html.twig' %}

{% block content %}
    <h1 class="h3 mb-4">{{ user.name }} {{ user.surname }}</h1>

    <div class="text-right">
        {% if is_granted('ROLE_ADMIN_USERS_PROMOTE', user) %}
            <a href="{{ url('sfs_user_admin_users_promote_admin', {'user':user}) }}" class="btn btn-outline-secondary">Promote Admin</a>
        {% endif %}

        {% if is_granted('ROLE_ADMIN_USERS_UPDATE', user) %}
            <a href="{{ url('sfs_user_admin_users_update', {'user': user}) }}" class="btn btn-outline-secondary">Edit</a>
        {% endif %}

        <a href="#" class="btn btn-outline-secondary disabled">Reset password</a>
{#        <a href="#" class="btn btn-outline-secondary disabled">Manual password</a>#}

        {% if is_granted('ROLE_ADMIN_USERS_DELETE', user) %}
            <a href="{{ url('sfs_user_admin_users_delete', {'user':user}) }}" class="btn btn-outline-secondary">Delete</a>
        {% endif %}

        {% if switch_enabled and is_granted(switch_role) %}
            <a href="{{ url(switch_route, switch_route_params) }}{{ switch_route_params|length ? '&' : '?' }}{{ switch_parameter }}={{ user.username }}" class="ml-2 text-nowrap">view as {{ user.username }} <span class="mdi mdi-18px mdi-account-switch align-middle"></span></a>
        {% endif %}
    </div>

    <p><strong>name:</strong> {{ user.name }}</p>
    <p><strong>surname:</strong> {{ user.surname }}</p>
    <p><strong>username:</strong> {{ user.username }}</p>
    <p><strong>email:</strong> {{ user.email }}</p>
    <p><strong>lastLogin:</strong> {{ user.lastLogin ? user.lastLogin|date('H:i d-m-Y') : 'not yet' }}</p>
    <p><strong>role:</strong> {{ user.roles|join(', ') }}</p>

    <div class="row">
        {% if multi_accounted_user %}
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>Accounts</h4>
                </div>
                <div class="card-body">
                    {% if user.relations.count %}
                    <ul>
                        {% for relation in user.relations %}
                            <li>
                                {{ relation.account.name }}
                                {% if relation.grantedBy != relation.user %}
                                    (granted by {{ relation.grantedBy.username }})
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p><em>This user is not associated to any account</em></p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}

        {% if is_granted('ROLE_ADMIN_ACCESS_HISTORY_LIST') and user_access_history is defined %}
            <div class="col">
                {% include '@SfsUser/admin/components/_user_access_history_card.html.twig' %}
            </div>
        {% endif %}

        {% if false %}
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>Emails sent</h4>
                </div>
                <div class="card-body">
                    <p><i>TODO</i></p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock content %}