{% trans_default_domain 'sfs_user' %}
{% extends '@SfsUser/admin_layout.html.twig' %}

{% block content %}
    <h2>{{ user.name }} {{ user.surname }}</h2>

    <div class="text-right">
        <a href="{{ url('sfs_user_admin_users_promote_admin', {'user':user}) }}" class="btn btn-outline-secondary">Promote Admin</a>
        <a href="#" class="btn btn-outline-secondary disabled">Edit</a>
        <a href="#" class="btn btn-outline-secondary disabled">Reset password</a>
        <a href="#" class="btn btn-outline-secondary disabled">Manual password</a>
        <a href="#" class="btn btn-outline-secondary disabled">Delete</a>
    </div>

    <p><strong>name:</strong> {{ user.name }}</p>
    <p><strong>surname:</strong> {{ user.surname }}</p>
    <p><strong>username:</strong> {{ user.username }}</p>
    <p><strong>email:</strong> {{ user.email }}</p>
    <p><strong>lastLogin:</strong> {{ user.lastLogin ? user.lastLogin|date('H:i d-m-Y') : 'not yet' }}</p>
    <p><strong>role:</strong> {{ user.roles|join(', ') }}</p>

    <div class="row">
        {% if multi_accounted_user %}
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>Accounts</h4>
                </div>
                <div class="card-body">
                    {% if user.relations.count %}
                    <ul>
                        {% for relation in user.relations %}
                            <li>
                                {{ relation.account.name }}
                                (granted by {{ relation.grantedBy.username }})
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p><em>This user is not associated to any account</em></p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>Latest access</h4>
                </div>
                <div class="card-body">
                    <p><i>TODO</i></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>Emails sent</h4>
                </div>
                <div class="card-body">
                    <p><i>TODO</i></p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}