{% trans_default_domain 'sfs_user' %}
{% extends '@SfsUser/admin_layout.html.twig' %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{{ 'admin_users.list.fields.name.header'|trans }}</th>
            <th scope="col">{{ 'admin_users.list.fields.surname.header'|trans }}</th>
            <th scope="col">{{ 'admin_users.list.fields.username.header'|trans }}</th>
            <th scope="col">{{ 'admin_users.list.fields.email.header'|trans }}</th>
            <th scope="col">{{ 'admin_users.list.fields.lastLogin.header'|trans }}</th>
            <th scope="col">{{ 'admin_users.list.fields.role.header'|trans }}</th>
            <th>&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.lastLogin ? user.lastLogin|date('H:i d-m-Y') : 'not yet' }}</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td>
                    <a href="{{ url('sfs_user_admin_users_details', {'user': user}) }}">{{ 'admin_users.list.actions.details.link'|trans }}</a>

                    {% if switch_enabled and is_granted(switch_role) %}
                        <a href="{{ url(switch_route, switch_route_params) }}{{ switch_route_params|length ? '&' : '?' }}{{ switch_parameter }}={{ user.username }}">view as {{ user.username }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}