{% trans_default_domain 'sfs_user' %}
{% extends '@SfsUser/preferences_layout.html.twig' %}

{% block content %}
    <div class="bg-white p-5 w-50">
        <h1 class="h4 mb-3 fw-normal">{{ 'change_password.title'|trans }}</h1>

        {{ form_start(change_password_form) }}
        {{ form_rest(change_password_form) }}
        <input type="submit" value="{{ 'change_password.actions.submit.button'|trans }}" class="btn btn-primary btn-block" />
        {{ form_end(change_password_form) }}
    </div>
{% endblock content %}