{% trans_default_domain 'sfs_user' %}
{% extends '@SfsUser/admin_layout.html.twig' %}

{% block title %}{{ 'admin_invitations.create.page_title'|trans }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_user_admin_invitations_list') }}">{{ 'admin_invitations.list.breadcrumb'|trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'admin_invitations.create.breadcrumb'|trans }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="h3 mb-4">{{ 'admin_invitations.create.title'|trans }}</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col bg-white p-5">
                {{ form_start(form) }}
                {{ form_rest(form) }}
                <div class="d-flex justify-content-end align-items-center">
                    <a href="{{ url('sfs_user_admin_invitations_list') }}" class="btn btn-outline-secondary">{{ 'admin_invitations.create.actions.cancel.button'|trans }}</a>
                    <input type="submit" value="{{ 'admin_invitations.create.actions.create.button'|trans }}" class="btn btn-primary ms-3" />
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock content %}