{% trans_default_domain 'sfs_user' %}
{% extends '@SfsUser/admin_layout.html.twig' %}

{% form_theme filterForm 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}{{ 'admin_invitations.list.meta.title'|trans }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="page">{{ 'admin_invitations.list.breadcrumb'|trans }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">{{ 'admin_invitations.list.title'|trans }}</h1>
        <a href="{{ url('sfs_user_admin_invitations_invite') }}" class="btn btn-primary">{{ 'admin_invitations.list.actions.invite.link'|trans }}</a>
    </div>

    <div class="container bg-white p-4">
        {% if entities|length %}
            <div class="mb-4">
                {{ form_start(filterForm) }}
                <div class="row">
                    {% if filterForm.name is defined %}<div class="col">{{ form_row(filterForm.name, {'row_class':'form-floating'}) }}</div>{% endif %}
                    {% if filterForm.surname is defined %}<div class="col">{{ form_row(filterForm.surname, {'row_class':'form-floating'}) }}</div>{% endif %}
                    {% if filterForm.email is defined %}<div class="col">{{ form_row(filterForm.email, {'row_class':'form-floating'}) }}</div>{% endif %}
                    {% if filterForm.status is defined %}<div class="col">{{ form_row(filterForm.status, {'row_class':'form-floating', 'attr':{'onchange':'submit()'}}) }}</div>{% endif %}
                    {% if filterForm.search is defined %}<div class="col">{{ form_row(filterForm.search, {'row_class': 'form-floating'}) }}</div>{% endif %}
                </div>
                {{ form_widget(filterForm) }}
                {{ form_rest(filterForm) }}
                {{ form_end(filterForm) }}
            </div>
        {% endif %}

        {% embed '@SfsAdmin/components/table.html.twig' with {'collection':entities, 'pagination_route': 'sfs_user_admin_invitations_list'} %}
            {% trans_default_domain 'sfs_user' %}
            {% block ths %}
                {% if sfs_invitation_is('nameSurname') %}
                    <th scope="col" class="p-3">
                        <a href="{{ sort_toggler_url('name') }}" class="text-dark">
                            {{ 'admin_invitations.list.fields.name.header'|trans }}
                            {% if is_sorted_by('name', 'asc') %}<i class="bi bi-caret-up-fill"></i>{% elseif is_sorted_by('name', 'desc') %}<i class="bi bi-caret-down-fill"></i>{% endif %}
                        </a>
                    </th>
                    <th scope="col" class="p-3">
                        <a href="{{ sort_toggler_url('surname') }}" class="text-dark">
                            {{ 'admin_invitations.list.fields.surname.header'|trans }}
                            {% if is_sorted_by('surname', 'asc') %}<i class="bi bi-caret-up-fill"></i>{% elseif is_sorted_by('surname', 'desc') %}<i class="bi bi-caret-down-fill"></i>{% endif %}
                        </a>
                    </th>
                {% endif %}

                {% if sfs_invitation_is('identifierUsername') %}
                    <th scope="col" class="p-3">
                        <a href="{{ sort_toggler_url('username') }}" class="text-dark">
                            {{ 'admin_invitations.list.fields.username.header'|trans }}
                            {% if is_sorted_by('username', 'asc') %}<i class="bi bi-caret-up-fill"></i>{% elseif is_sorted_by('username', 'desc') %}<i class="bi bi-caret-down-fill"></i>{% endif %}
                        </a>
                    </th>
                {% endif %}

                <th scope="col" class="p-3">
                    <a href="{{ sort_toggler_url('email') }}" class="text-dark">
                        {{ 'admin_invitations.list.fields.email.header'|trans }}
                        {% if is_sorted_by('email', 'asc') %}<i class="bi bi-caret-up-fill"></i>{% elseif is_sorted_by('email', 'desc') %}<i class="bi bi-caret-down-fill"></i>{% endif %}
                    </a>
                </th>
                <th scope="col" class="p-3">
                    <a href="{{ sort_toggler_url('acceptedAt') }}" class="text-dark">
                        {{ 'admin_invitations.list.fields.acceptedAt.header'|trans }}
                        {% if is_sorted_by('acceptedAt', 'asc') %}<i class="bi bi-caret-up-fill"></i>{% elseif is_sorted_by('acceptedAt', 'desc') %}<i class="bi bi-caret-down-fill"></i>{% endif %}
                    </a>
                </th>

                {% if sfs_invitation_is('roles') %}
                <th scope="col" class="p-3">{{ 'admin_invitations.list.fields.role.header'|trans }}</th>
                {% endif %}
                <th>&nbsp;</th>
            {% endblock ths %}

            {% block tbody %}
                {% for invitation in entities %}
                    <tr>
                        {% if sfs_invitation_is('nameSurname') %}
                            <td class="p-3">{{ invitation.name }}</td>
                            <td class="p-3">{{ invitation.surname }}</td>
                        {% endif %}

                        {% if sfs_invitation_is('identifierUsername') %}
                            <td class="p-3">{{ invitation.username }}</td>
                        {% endif %}

                        <td class="p-3">{{ invitation.email }}</td>
                        <td class="p-3 {{ invitation.acceptedAt?'text-success':'text-danger' }}">{{ invitation.acceptedAt ? invitation.acceptedAt|date('H:i d-m-Y') : 'not yet' }}</td>

                        {% if sfs_invitation_is('roles') %}
                            <td class="p-3">
                                {% if sfs_invitation_is('rolesAdmin') %}
                                    {% if invitation.superAdmin %}
                                        <span class="badge bg-danger">super-admin</span>
                                    {% elseif invitation.admin %}
                                        <span class="badge bg-info text-dark">admin</span>
                                    {% else %}
                                        <span class="badge bg-light text-dark">usuario</span>
                                    {% endif %}
                                {% else %}
                                    {{ invitation.roles|join(', ') }}
                                {% endif %}
                            </td>
                        {% endif %}

                        <td class="p-3">
                            <a href="{{ url('sfs_user_admin_invitations_details', {'invitation': invitation}) }}" class="text-nowrap">details <span class="mdi mdi-18px mdi-eye-outline align-middle"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            {% endblock tbody %}
        {% endembed %}
    </div>
{% endblock content %}